




.pic {
    width: 330px;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    border-radius: 20px 20px 0 0 ;
  }
  
  
.container {
    width: 375px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-top: 0px;
    height: 800px;
    padding-top: 10px;
    background-color: hsl(225, 100%, 94%);
   
  }

.ticket{
    width: 330px;
    text-align: center;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    height: 370px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 10px 40px -25px hsl(225, 30%, 54%);
}



.intro{
    width: 330px;
    margin-left: auto;
    margin-right: auto;
}


.grid-pricebox {
    display: grid;
    grid-gap: 1px;
    padding: 10px;
    background-color: hsl(225, 100%, 98%);
    width:250px;
    margin-left: auto;
    margin-right: auto;
    height: 60px;   
    border-radius: 10px 10px 10px 10px ;
  }
  
  .grid-item {
    text-align: center;
    height: 30px;
    
  }
  
  .item1 {
  grid-column: 1 ;
  grid-row:1 / span 2;
  height: 50px;
  margin: auto;
  }
  
  .item2 {
    grid-column: 2;
   grid-row:1;
   height: 30px;
   line-height: 0.5;
  }
  
  .item3 {
    grid-column: 2;
   grid-row:2;
   height: 30px;
   line-height: 0;
}
  
  .item4 {
    grid-column: 3 / span 2;
  grid-row:1 / span 2;
  margin-top: auto; 
  margin-bottom: auto;
  line-height: 0px;
  margin-left: 10px;
  }



.body{
    font-size: 16px;
    font-family: 'Red Hat Text', sans-serif;
    line-height: 1.3;
}


@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&family=Red+Hat+Text&display=swap');
h1{
    font-family: 'Red Hat Display', sans-serif;
   color: hsl(223, 47%, 23%);
   font-size: 25px;
   font-weight:bold;
   font-style: inherit;
}


h2{
    font-weight: 500;
    font-family: 'Red Hat Text', sans-serif; 
    font-size: 16px;
    line-height: 1.5;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    color: hsl(224, 23%, 55%);
    

 }
 h3{
    font-weight: 900; 
    font-family: 'Red Hat Text', sans-serif;
    font-size: 15px;
    color: hsl(223, 47%, 23%);
 }
 h4{
    font-weight: 500; 
    font-family: 'Red Hat Text', sans-serif;
    font-size: 14px;
    margin-top: 10px;
    color: hsl(224, 23%, 55%);
 }
  
 p{
    font-weight: 500; 
    font-family: 'Red Hat Text', sans-serif;
    font-size: 14px;
 }


/*change*/
/* unvisited link */
a:link {
    color: hslhsl(245, 75%, 52%);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(123, 69, 223);
  }
  

.button {
    background-color: hsl(245, 75%, 52%);
    border: none;
    font-weight: bold;
    font-size: 14px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width:270px;
    margin-top:20px;
    border-radius: 10px 10px 10px 10px ;
    box-shadow: 0px 8px 15px hsl(245, 45%, 80%);
    z-index: 2;
}

.button:hover {
  background-color: rgb(123, 69, 223);
  cursor: pointer;
}

.cancel {
  border: none;
  font-weight: bold;
  font-size: 14px;
  color: hsl(224, 23%, 55%);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width:270px;
  margin-top:15px;
  border-radius: 10px 10px 10px 10px ;
  cursor: pointer;
  background-color: white;
  z-index: 1;
}


.cancel:hover {
  cursor: pointer;
  color: hsl(223, 47%, 23%);
}

 /*
 container background color
 - Pale blue: hsl(225, 100%, 94%)

button color:
 - Bright blue: hsl(245, 75%, 52%)
 
 ### Neutral
 

 anuual plan box個色
 - Very pale blue: hsl(225, 100%, 98%)


 font color (you can...)
 - Desaturated blue: hsl(224, 23%, 55%)
 font color (header)
 - Dark blue: hsl(223, 47%, 23%)*/